services:
    mariadb:
        build: requirements/mariadb
        container_name: mariadb
        restart: always
        env_file: .env
        ports:
            - "3306:3306"
        # volumes:
        #     - db_data:/var/lib/mysql
        volumes:
            - /Users/sclam/db_data:/var/lib/mysql
        networks:
            - app-network
    nginx:
        build: requirements/nginx
        container_name: nginx
        restart: always
        ports:
            - "443:443"
        # volumes:
        #     - wordpress_data:/var/www
        volumes:
            - /Users/sclam/wordpress_data:/var/www
        depends_on:
            - wordpress
        networks:
            - app-network
    wordpress:
        build: requirements/wordpress
        container_name: wordpress
        restart: always
        env_file: .env
        ports:
            - "9000:9000"
        # volumes:
        #     - wordpress_data:/var/www
        volumes:
            - /Users/sclam/wordpress_data:/var/www
        networks:
            - app-network
        depends_on:
            - mariadb
# volumes:
#     db_data:
#         name: db_data
#         driver: local
#         driver_opts:
#             type: none
#             o: bind
#             device: /Users/sclam/db_data
#     wordpress_data:
#         name: wordpress_data
#         driver: local
#         driver_opts:
#             type: none
#             o: bind
#             device: /Users/sclam/wordpress_data
networks:
    app-network:
        driver: bridge